<div class="cta-bottom">
  <div class="container">
    <div class="align-items-center d-flex justify-content-between">
      <div class="message">
        <h5 class="mb-0">Don't miss what's happening</h5>
        <p class="mb-0 small">People on Tweeter are the first to know.</p>
      </div>
      <div class="button">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light btn-sm px-3 fw-medium rounded-5 me-1" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light btn-sm fw-medium px-3 rounded-5" %>
      </div>
    </div>
  </div>
</div>