<div class="main-nav">
  <div class="navbrand mt-2 mb-3 ps-3">
    <%= link_to root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" do %>
      <i class="bi bi-twitter fs-2"></i>
    <% end %>
  </div>

  <ul class="nav nav-pills flex-column mb-auto fs-5">
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-search me-2 fs-3"></i>
        Explore
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-gear-fill me-2 fs-3"></i>
        Settings
      </a>
    </li>
  </ul>
</div>