<p class="small py-3 text-muted">
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">Terms of Service</a>
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">Privacy Policy</a>
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">Cookie Policy</a>
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">Accessibility</a>
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">Ads info</a>
  <a href="#" class="text-muted link-underline link-underline-opacity-0 link-underline-opacity-100-hover me-2">More ...</a>
  <%= "@ #{Date.today.year} X Corp." %>
</p>