<header>
  <div class="d-flex flex-column justify-content-between h-100 me-4" style="width: 260px;">
    <% if user_signed_in? %>
      <%= render "shared/member_sidebar" %>
    <% else %>
      <%= render "shared/guest_sidebar" %>
    <% end %>
  </div>
</header>
